@model id.volam.club.Models.ResetPasswordModel

@{
    ViewBag.Title = "Đổi mật khẩu cấp 1";
}
<div class="row">
    <div class="col-sm-4">
        @RenderPage("~/Views/Shared/Menu.cshtml")
    </div>
    <div class="col-md-8 col-sm-8">
       @using (Html.BeginForm("resetpassword", "account"))
       {
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">ĐỔI MẬT KHẨU CẤP 1</h3>
                <p class="text-center">Dùng mật khẩu cấp 2 đổi mật khẩu cấp 1</p>
            </div>
            <div class="panel-body">
                <form action="/account/resetpassword">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="text-center">
                                    @Html.ValidationMessage("Error", new { @class = "text-danger" })
                                    @Html.ValidationMessage("Success", new { @class = "text-success" })
                                </h4>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="cAccName">Tài khoản:</label>
                                    <div class="col-sm-8">
                                        @Html.EditorFor(model => model.cAccName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.cAccName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="cAccName">Mật khẩu cấp 2:</label>
                                    <div class="col-sm-8">
                                        @Html.EditorFor(model => model.cSecPassWord, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.cSecPassWord, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="cAccName">Mật khẩu cấp 1 mới:</label>
                                    <div class="col-sm-8">
                                        @Html.EditorFor(model => model.cPassWord, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.cPassWord, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="cAccName">Nhập lại Mật khẩu cấp 1 mới:</label>
                                    <div class="col-sm-8">
                                        @Html.EditorFor(model => model.cRePassWord, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.cRePassWord, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-success">Đổi mật khẩu cấp 1</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
       }
    </div>
</div>
